<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Feature Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/ >
  <link href="{{ url_for('static', filename='css/nv.d3.css')}}" rel="stylesheet" type="text/css">
  <script src="{{ url_for('static', filename='js/d3.v3.min.js')}}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/nv.d3.js')}}"></script>
  <script src="{{ url_for('static', filename='js/stream_layers.js')}}"></script>
</head>

<body>
  <!--- NAV-BAR ---->
  <nav class="red darken-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
      <img src="{{ url_for('static', filename='imgs/football.png')}}" height=70 align="middle">&nbsp; Feature Dashboard
      </a>
    </div>
  </nav>
  <br />


  <!--- BARCHART OF CUMULATIVE GAINS --->
  <div class="container" width="80%">
    <h5>Cumulative Gains</h5>
    <p><i>Listing of the cumulative gains over time.</i></p>
    <br />
    <div id="cumulative_gains_chart" style="height: 300px; width: 800px;"><svg></svg></div>
  </div>
  <br/>

  <fieldset>
    <legend>Summary</legend>
    <table class="highlight centered">
      <tr>
        <td>Number Fixtures:</td>
        <td>{{features|length}}</td>
      </tr>
      <tr>
        <td>Number Wins:</td>
        <td>{{winTotal}}</td>
      </tr>
      <tr>
        <td>Number Losses:</td>
        <td>{{lossTotal}}</td>
      </tr>
      <tr>
        <td>Total Gains:</td>
        <td>{{gainTotal}}</td>
      </tr>
      <tr>
        <td>Winning Streak:</td>
        <td>{{winStreak}} from {{startDateWin}} to {{endDateWin}}</td>
      </tr>
      <tr>
        <td>Losing Streak:</td>
        <td>{{lossStreak}} from {{startDateLoss}}  to {{endDateLoss}}</td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>Fixtures</legend>
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Season</th>
          <th>Week No.</th>
          <th>Result</th>
          <th>Home Team</th>
          <th>Home FT</th>
          <th>Away FT</th>
          <th>Away Team</th>
          <th>Odds</th>
        </tr>
      </thead>
      <tbody>
      {% for row in features %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          {% if row[3] == 1 %}
            <td>WIN</td>
          {% else %}
            <td>LOSS</td>
          {% endif %}
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[8]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </fieldset>

  <script>
    var chart = nv.models.multiBarChart()
      .reduceXTicks(true)
      .rotateLabels(30)
      .showControls(false)
      .stacked(true)
      .tooltip(function(key, x, y, e, graph) {
          return '<font size="-2">' + key + '</font>' +
	  '<p>' +  y + ' on ' + x + '</p>';
      })
      .groupSpacing(0.1);
      d3.select('#cumulative_gains_chart svg').datum([
      {
        key: "Cumulative Gains ({{ betType }})",
        color: "#FF0000",
        values:
        [      
{{ values | safe}}
        ]
      }
      ]).transition().duration(500).call(chart);
  </script>


  <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>
