<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Feature Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/ >
</head>

<body>
  <!--- NAV-BAR ---->
  <nav class="red darken-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
      <img src="{{ url_for('static', filename='imgs/football.png')}}" height=70 align="middle">&nbsp; Feature Dashboard
      </a>
    </div>
  </nav>
  <br />

  <h5>Cumulative Gains</h5>

  <!--- BARCHART OF CUMULATIVE GAINS --->
  <div class="container" width="80%">
    <h5>Cumulative Gains</h5>
    <p><i>Listing of the cumulative gains.</i></p>
    <br />
    <div id="cumulative_gains_chart" style="height: 300px;"><svg></svg></div>
  </div>
  <br/>

  <script>
    var chart = nv.models.multiBarChart()
      .reduceXTicks(false)
      .rotateLabels(30)
      .showControls(true)
      .stacked(true)
      .tooltip(function(key, x, y, e, graph) {
          return '<font size="-2">' + key + '</font>' +
	  '<p>' +  y + ' on ' + x + '</p>';
      })
      .groupSpacing(0.1);
      d3.select('#cumulative_gains_chart svg').datum([
      {
        key: "Cumulative Gains",
        color: "#CC4400",
        values:
        [      
{{ values | safe}}
        ]
      }
      ]).transition().duration(500).call(chart);
  </script>


  <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>
